@import url('https://fonts.googleapis.com/css2?family=Yuji+Syuku&display=swap');

.parent {
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 60px repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    background-color: black;
}

.div1 {
    font-family: 'Yuji Syuku', serif;
    outline: none;
    text-decoration: none;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: 1 / 1 / 2 / 2;
    &:hover {
        animation: mymove 2s forwards;
    }
}

.div2 {
    font-family: 'Yuji Syuku', serif;
    outline: none;
    text-decoration: none;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: 1 / 2 / 2 / 3;
    &:hover {
        animation: mymove 2s forwards;
    }
}

.div3 {
    font-family: 'Yuji Syuku', serif;
    outline: none;
    text-decoration: none;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: 1 / 3 / 2 / 4;
    &:hover {
        animation: mymove 2s forwards;
    }
}

.div4 {
    font-family: 'Yuji Syuku', serif;
    outline: none;
    text-decoration: none;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: 1 / 4 / 2 / 5;
    &:hover {
        animation: mymove 2s forwards;
    }
}

@keyframes mymove {
    from {background-color: black; color: whitesmoke}
    to {background-color: pink; color: black} 
  }